## **Dictionaries**

In [2]:
## creeating a dictionary
programing = {
    'bug': 'an error in a program that prevents the program from running as expected.',
    'algorithm': 'a set of instructions',
    'function':'a set of instructions that accomplish a particular task.',
    'loop':'used to repeat a block of code.'
    
}


# adding new items to the programing dictionary;
programing['language'] = 'the language'
## creating empty dictionary
empty_dictionary = {}
## loping through a dictionary
for thing in programing:
    print(thing)
    print(programing[thing])

bug
an error in a program that prevents the program from running as expected.
algorithm
a set of instructions
function
a set of instructions that accomplish a particular task.
loop
used to repeat a block of code.
language
the language

### **Challenge 9.1**

In [3]:
# defining a dictionary
students_scores = {
    'John Doe': 85,
    'Jane Smith': 90,
    'Mike Johnson': 77,
    
    'William Brown': 70,
    'Emma Davis': 64
}
studen_grades = {}
# iterating over the students_scores dictionary
for students in students_scores:
    score = students_scores[students]
    if score>90:
        studen_grades[students] = 'Outstanding'
    elif score>80:
        studen_grades[students] = 'Exceeds Expectations'
    elif score>70:
        studen_grades[students] = 'Acceptable'
    else:
        studen_grades[students] = 'Fail'
print(studen_grades)

{'John Doe': 'Exceeds Expectations', 'Jane Smith': 'Exceeds Expectations', 'Mike Johnson': 'Acceptable', 'William Brown': 'Fail', 'Emma Davis': 'Fail'}

## **Trying Nesting**

In [5]:
# practicing nesting
travel_log1 = {
    "France" : ['paris', 'london', 'dublin'],
    'Germany' :['Berlin','Hamburg','Stuttgart']
    
}
# Nesting dictionaried into dictionaries
#Nesting dictionary inside a list:

### **Day_9.3**

In [21]:

travel_log = [
    {
        'country': 'France',
        'cities_visited': ['Paris', 'London', 'Dublin'],
        'Total_visits': '5'
    },
    {
        'country': 'Italy',
        'cities_visited': ['Rome', 'Florence', 'Venice'],
        'Total_visits': '4'
    },
    {
        'country': 'Spain',
        'cities_visited': ['Madrid', 'Barcelona', 'Seville'],
        'Total_visits': '3'
    }
]
import pandas as pd

def add_new_country(any_country,no_of_visits,cities_visited):
    new_country = {}
    new_country['country']=any_country,
    new_country['Total_visits']=no_of_visits,
    new_country['cities_visited']=cities_visited
        
    
    travel_log.append(new_country)
add_new_country('Russia',2,['Moscow','Saint Petersburg'])

add_new_country('Japan',5,['Tokyo','Kyoto'])
print(travel_log)
travel_log
df = pd.DataFrame(travel_log)
df

[{'country': 'France', 'cities_visited': ['Paris', 'London', 'Dublin'], 'Total_visits': '5'}, {'country': 'Italy', 'cities_visited': ['Rome', 'Florence', 'Venice'], 'Total_visits': '4'}, {'country': 'Spain', 'cities_visited': ['Madrid', 'Barcelona', 'Seville'], 'Total_visits': '3'}, {'country': ('Russia',), 'Total_visits': (2,), 'cities_visited': ['Moscow', 'Saint Petersburg']}, {'country': ('Japan',), 'Total_visits': (5,), 'cities_visited': ['Tokyo', 'Kyoto']}]

     country                cities_visited Total_visits
0     France       [Paris, London, Dublin]            5
1      Italy      [Rome, Florence, Venice]            4
2      Spain  [Madrid, Barcelona, Seville]            3
3  (Russia,)    [Moscow, Saint Petersburg]         (2,)
4   (Japan,)                [Tokyo, Kyoto]         (5,)

### **Final Auction Program**

In [30]:
#creating functions with output
def format_name():
    f_name = input("Inser your name :\n")
    l_name = input("Insert your lasr name: \n")
    final_nme = f_name.title() + " " + l_name.title()
    return final_nme
format_name()

'Afshan Afridi'